<% @patient.appointments.each do |appointment| %>
    <h3><%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M")  %></h3>
    <h1> <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></h1>
<% end %>
