<h1> Appointment Info: </h1>
<ul>
    <li> Date of Appointment: <%= @appoint.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> </li>
    <li> Patient Name: <%= link_to @appoint.patient.name, @appoint.patient %> </li>
    <li> Doctor's Name: <%= link_to @appoint.doctor.name, @appoint.doctor %> </li>
</ul>