<h1> Appointment Info: </h1>
<ul>
    <li> Date of Appointment: <%= @app.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> </li>
    <li> Patient Name: <%= link_to @app.patient.name, @app.patient %> </li>
    <li> Doctor's Name: <%= link_to @app.doctor.name, @app.doctor %> </li>
</ul>